:root {
  /* colors */
  --clr-light: white;
  --clr-background: #291b1b;
  --clr-main: rgb(183, 7, 7);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-background);
}

.header,
.footer {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background: url('./assets/header_bk.png') center center / cover;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  font-family: 'Exo 2', serif;
  font-size: 26px;
  letter-spacing: 0.05rem;
  margin: 0;
  color: var(--clr-light);
  text-shadow: 2px 3px 2px var(--clr-main);
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn {
  display: block;
  font-family: 'Exo 2', serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05rem;
  min-width: 100px;
  padding: 2px 12px;
  border-radius: 6px;
  border: none;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.btn:hover {
  color: var(--clr-main);
  box-shadow: 2px 2px 1px var(--clr-main);
}

.footer-year {
  color: var(--clr-light);
}

.footer-link {
  font-family: 'Exo 2', serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: var(--clr-light);
  text-decoration: none;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.footer-link:hover {
  text-shadow: 2px 3px 2px var(--clr-main);
}
